<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <%- include ../../partials/message.ejs %>
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Transaksi Servis Berat</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Transaksi Servis Berat</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="p-4">
              <form action="/transaction/second" method="GET">
                <label for="date">Search By Booking Number:</label>
                <input
                  type="text"
                  id="bookingNumber"
                  name="bookingNumber"
                  required
                />
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>

              <div class="mt-4">
                <form action="/transaction/second" method="GET">
                  <label for="date">Choose a date:</label>
                  <input type="date" id="date" name="date" required />
                  <button class="btn btn-primary" type="submit">Filter</button>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body"><%- include ./table.ejs %></div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
