<% const formatRupiah = (value) => { return value.toLocaleString("id-ID", {
style: "currency", currency: "IDR", minimumFractionDigits: 0, }); }; %>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Customer</th>
      <th>No. HP Customer</th>
      <th>Nomor Booking</th>
      <th>Waktu Booking</th>
      <th>Waktu Booking Updated</th>
      <th>Merek Mobil</th>
      <th>Tipe Mobil</th>
      <th>Nomor Plat</th>
      <th>Sparepart</th>
      <th>Keluhan</th>
      <th>Tanggal Servis</th>
      <th>Antrian Ke-</th>
      <th>Status</th>
      <th>Tipe Servis</th>
      <th>Harga</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i < transaction.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= transaction[i]?.userId?.name %></td>
      <td><%= transaction[i]?.userId?.phoneNumber %></td>
      <td><%= transaction[i]?.bookingNumber %></td>
      <td><%= transaction[i]?.createdAt %></td>
      <td><%= transaction[i]?.updatedAt %></td>
      <td><%= transaction[i]?.cars?.make %></td>
      <td><%= transaction[i]?.cars?.model %></td>
      <td><%= transaction[i]?.licensePlate %></td>
      <td>
        <% for (let j = 0; j < transaction[i].spareparts.length; j++) { %>
        <li>
          <b> Sparepart ID </b>
          : <%= transaction[i].spareparts[j].sparepartId._id %>
          <br />
          <b> Sparepart Name </b>
          : <%= transaction[i].spareparts[j].sparepartId.name %> <br />
          <b>Quantity</b> : <%= transaction[i].spareparts[j].quantity %>
        </li>
        <br />
        <% } %>
      </td>
      <td><%= transaction[i]?.notes %></td>
      <td>
        <%= new Date(transaction[i]?.chooseDate).toLocaleDateString('id-ID',
        {day: 'numeric', month: 'long', year: 'numeric'}) %>
      </td>
      <td><%= transaction[i]?.queueNumber %></td>

      <td>
        <% if(transaction[i].status=== 0 ) { %>
        <span class="badge badge-warning"> Pesan </span>
        <% } else if(transaction[i].status=== 1) { %>
        <span class="badge badge-warning"> Menunggu Konfirmasi </span>
        <% } else if(transaction[i].status=== 4) { %>
        <span class="badge badge-danger"> Canceled </span>
        <% } else if(transaction[i].status=== 2 ) { %>
        <span class="badge badge-success"> Checked In </span>
        <% } else { %>
        <span class="badge badge-success"> Selesai </span>
        <%} %>
      </td>

      <td><%= transaction[i]?.category?.name %></td>
      <td><%= formatRupiah(transaction[i]?.total) %></td>
      <% if(transaction[i].status=== 0 ) { %>
      <td>
        <form
          style="display: inline-block"
          action="/transaction/status/<%= transaction[i]._id %>?status=4&_method=PUT"
          method="POST"
        >
          <button class="btn btn-danger btn-sm" type="submit">
            <i class="fas fa-times-circle"></i>
            Tolak
          </button>
        </form>
        <form
          style="display: inline-block"
          action="/transaction/status/<%= transaction[i]._id %>?status=1&_method=PUT"
          method="POST"
        >
          <button class="btn btn-info btn-sm" type="submit">
            <i class="fas fa-check"></i>
            Check In
          </button>
        </form>
      </td>
      <%} %> <% if(transaction[i].status=== 2 ) { %>
      <td>
        <form
          style="display: inline-block"
          action="/transaction/status/<%= transaction[i]._id %>?status=3&_method=PUT"
          method="POST"
        >
          <a
            href="/transaction/edit/<%= transaction[i]._id %>"
            class="btn btn-info btn-sm"
          >
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-info btn-sm" type="submit">
            <i class="fas fa-check"></i>
            Check Out
          </button>
        </form>
      </td>
      <%} %> <% if(transaction[i].status=== 3) { %>
      <td>
        <form
          target="_blank"
          style="display: inline-block"
          action="/transaction/invoice/<%= transaction[i]._id %>"
          method="GET"
        >
          <button class="btn btn-info btn-sm" type="submit">
            <i class="fas fa-check"></i>
            Cetak Invoice
          </button>
        </form>
      </td>
      <%} %>
    </tr>
    <% } %>
  </tbody>
</table>
